body {
	background-image: url('../assets/movie-neg-opac.png');
}

.watch-button {
	display:inline-block;
}

.search-bar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-buttons {
  margin-top: 10px;
  margin-bottom: 10px;
}

.movie-list-entry {
	margin-top: 5px;
	border-color: 'black';
	background-color: #ffffff;
	border-radius: 12px;
	border: solid;
	height: 70px;
	width: 350px;
}

.movie-list-entry .movie-title {
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
}

.movie-list-entry .movie-year {
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
}

.movie-list-entry .movie-genre {
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
}

.movie-list-entry .watch-toggle {
	float: right;
	margin-right: 5px;
	margin-top: 5px;
}